#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

#md > table tbody tr:nth-child(odd) {
  background-color: #ccc;
}

#md > blockquote {
  margin-left: 32px;
  border-left: 4px solid #ccc;
  padding-left: 16px;
}
